@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --list-width: 30vw;
}
.ToDoItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: var(--list-width);
    height: fit-content;
}
.toDoText {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 0em;
    width: 60vw;

}
.EditToDo {
    display: flex;
    flex-direction: column;
    width: var(--list-width);
    gap:0.5em;
}
#editButton {
    align-self: flex-end;
    width: fit-content;
}
#card {
    width: fit-content;
    padding: 1em;
    margin: 1em;
    position: relative;
}
.disabled {
    text-decoration: line-through;
    max-height: var(--list-width);
    overflow-y: hidden;
}
.completed {
    min-width: var(--list-width);
    width: fit-content;
}
.scrollable {
    overflow-y: scroll;
    width: fit-content;
    height: var(--list-width);
}
.ToDoFull {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    position: relative;
}
.tools {
    display: flex;
    flex-direction: column;
}
.toDoText-editmode {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 0em;
    width: 60vw;

}
.todolist {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    align-content: start;
}
.addToDoButton {
    position: absolute;
    right: 1em;
    top:1em;

}

.p-inplace{
    border: none;
    font-family: 'Roboto', sans-serif;
}